state_machine/stateMachine.json
{
  "Comment": "A state machine for purchase and refund operations",
  "StartAt": "Check Operation",
  "States": {
    "Check Operation": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.operation",
          "StringEquals": "purchase",
          "Next": "Purchase Lambda"
        },
        {
          "Variable": "$.operation",
          "StringEquals": "refund",
          "Next": "Refund Lambda"
        }
      ],
      "Default": "Invalid Operation"
    },
    "Purchase Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:432599188850:function:emi-cdk-test-purchase-lambda",
      "Next": "Success"
    },
    "Refund Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:432599188850:function:emi-cdk-test-refund-lambda",
      "Next": "Success"
    },
    "Invalid Operation": {
      "Type": "Fail",
      "Error": "InvalidOperationError",
      "Cause": "The operation provided is not valid."
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
